@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 80px;
  font-style: normal;
  height: 100vh;

}
.contenedor{
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
}
.card{
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}

.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  object-fit: scale-down;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #E07004;
  text-align: center;
}
/*


.card {
  font-size: 1em;
  padding: 1.5em;
  margin: 2.5em;

}
*/
/*
.card-1 {

  background-color: rgb(230, 170, 100);
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}*/
/*
.card-1 img{
  width: 20px;

}

.card-2 img{
  width: 20em;
}

.card p{

font-size: 2rem;
}

.card-2{
 
  background-color: rgb(255, 90, 190);

}

.card-3{

  background-color: rgb(55, 120, 210);

}

.card-4{
  
  background-color: rgb(80, 70, 50);

}

.card-5{
 
  background-color: rgb( 150, 190, 20);
 
}

.card-6{
  background-color: rgba(60, 90, 15, 0.7);
}



.card-8{
background-image: radial-gradient(circle, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.card-9{
  text-transform:capitalize;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px black;
}
  */